# Copie para config.env (fora do git) e preencha.
AWS_REGION=us-east-1
DOMAIN=agcriando.com.br
ADMIN_EMAIL=contato@agcriando.com.br
ALERT_EMAIL=contato@agcriando.com.br
LETSENCRYPT_EMAIL=contato@agcriando.com.br
GITHUB_REPO=Henrique-Santos/agcriando
WHATSAPP=5592995185104
INSTANCE_TYPE=t4g.small
